.friends-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .friends-container .friends-list {
    margin: 10px;
    width: auto;
    height: auto;
    min-width: 320px;
    max-width: 590px;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    /* border-style: solid; */
    /* border-color: gray; */
    /* box-shadow: 2px 2px 1px #dadada; */
    display: flex;
    flex-direction: row;
    padding: 30px;
  }
  .friends-container .friends-list .friend-avatar {
    margin: auto 0px;
  }
  .friends-container .friends-list .friend-avatar .friend-avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: fill;
    border-style: solid;
    border-color: #dadada;
  }
  .friends-container .friends-list .friend-info {
    float: right;
    margin-left: 20px;
  }
  .friends-container .friends-list .friend-info .friend-name {
    font-size: 2rem;
    font-weight: 500;
  }
  .friends-container .friends-list .friend-info .friend-desc {
    max-width: 100%;
    word-wrap: break-word;
  }
  .friends-container .friends-list:hover {
    box-shadow: var(--shadow-l2);
    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
  }